################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/BrasileirosEmCasa/.vs/BrasileirosEmCasa
/backend/BrasileirosEmCasa/Web/bin/Debug/netcoreapp3.1
/backend/BrasileirosEmCasa/Web/obj
/.vs
/backend/BrasileirosEmCasa/Web/bin/Release/netcoreapp3.1
